.navbar {
    margin-bottom: 5rem;
}

.card {
    margin-top: 7rem;
}

.btn {
    width: 100%;
    margin-top: 2.5rem;
}

body{
    height: 100vh;
    background-image: url(img/blur_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.login-card{
    background-color:rgba(0,0,0,0);
}

.card-body{
    background-color: rgba(0, 0, 0, 0.4);
}

.top-buffer{
    margin-top: 20px;
}

.main-container{
    margin-left:10%;
}

canvas{
    width:80vw;
    height:37vw;
    border:1px solid white;
    background-image: url('img/xp_bg.jpg');
    background-size:cover;
    margin-top: 40%;
}

#stats{
    margin-top:40%;
}
